@import '../../vuetify/VBtn/mixins';

.owd-window {
  .owd-window__nav .v-btn {
    vertical-align: 0;

    &.v-btn--essential {
      background: none;
      border-color: transparent;
      box-shadow: none;
      border-radius: 50%;
      width: 24px;
      min-width: 24px;
      height: 24px;

      i {
        font-size: 14px;
      }
    }
  }

  &__focused {
    .owd-window__nav .v-btn {
      &.v-btn--essential {
        &:not(:hover) {
          background: none;
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .owd-window__nav .v-btn {
    @include btn-inactive;
  }
  &--focused .owd-window__nav .v-btn {
    @include btn;
  }

  &:not(&--preserve-material) {
    .v-btn {
      @include btn-inactive;
    }
  }
  &--focused:not(&--preserve-material) {
    .v-btn {
      @include btn;
    }
  }
}