$fontWindowTitle: 'Cantarell';

#desktop {
  &.with-system-bar {
    background: $desktopSystemBarBackground;

    .desktop-content {
      border-radius: 8px 8px 0 0;
      background: $bodyBackground;
      color: $desktopSystemBarColor;
    }

    .floating-notifications {
      .notification {
        background: $windowContentInputBackground;
      }
    }
  }

  .window {
    border-radius: 8px 8px 1px 1px;

    .window-container {
      box-shadow: none;

      .window-nav {
        height: 36px;
        line-height: 36px;
        font-family: $fontWindowTitle;
        font-weight: bold;
        font-size: 13.5px;
        background: #353535;
        box-shadow: inset 0 1px 0 0 #383838, 0 1px 0 0 #202020;

        .window-nav-title {
          text-align: center;
          padding: 0;
        }

        .window-nav-btn-group {
          .btn {
            border-radius: 50%;
            margin: 4px 4px 4px 0;
            width: 28px;
            height: 28px;
            line-height: 28px;
          }
        }
      }
    }

    &.focused {
      .window-container {
        .window-nav {
          background: linear-gradient(to bottom, #2b2b2b, #262626);
          box-shadow: inset 0 1px 0 0 #383838, 0 1px 0 0 #070707;

          .window-nav-btn-group {
            .btn {
              &:hover {
                background: #373737;
                box-shadow: inset 0 0 0 1px #1b1b1b;
              }
              &:active {
                background: #1e1e1e;
                box-shadow: inset 0 0 0 1px #1c1c1c;
              }
            }
          }
        }
      }
    }

    &:not(.borderless) {
      .window-container {
        grid-template-rows: 37px calc(100% - 37px);
      }
    }
  }
}