$fontWindowTitle: 'Cantarell';

#desktop {
  .window {
    box-shadow: 0 0 0 1px #1b1b1b;
    border-radius: 8px 8px 1px 1px;

    .window-container {
      box-shadow: none;

      .window-nav {
        height: 36px;
        line-height: 36px;
        font-family: $fontWindowTitle;
        font-weight: bold;
        font-size: 13.5px;
        background: linear-gradient(to bottom, #2b2b2b, #262626);
        box-shadow: inset 0 1px 0 0 #383838, 0 1px 0 0 #070707;

        .window-nav-title {
          text-align: center;
          padding: 0;
        }

        .window-nav-btn-group {
          position: absolute;
          right: 0;
        }
      }
    }

    &:not(.borderless) {
      .window-container {
        grid-template-rows: 37px calc(100% - 37px);
      }
    }
  }
}