// global scss variables
$fontTitle: "Oswald", Tahoma, sans-serif;
$fontMono: "JetBrains Mono", monospace, FreeMono;

$bodyBackground: #161616;
$bodyColor: white;

// menu
$menuItemSquareBackground: #4987c1;
$menuItemSquareColor: #FFFFFF;
$menuItemTitleBackground: #212121;
$menuItemTitleColor: #EEEEEE;

// desktop
$desktopSystemBarHeight: 30px;
$desktopSystemBarBackground: black;
$desktopSystemBarColor: white;

$desktopTitleFontFamily: 'Cantarell';
$desktopTitleFontSize: 14px;
$desktopTitleFontWeight: 600;

// window
$windowBackground: #353535;
$windowColor: #b4b4b4;
$windowColorActive: #fff;
$windowBorder: #1b1b1b;
$windowBorderRadius: 2px;
$windowShadow: 0 0 0 1px rgba(21, 21, 21, 0.5);
$windowNavHeight: 44px;
$windowNavHeightDense: 38px;
$windowNavTitleColor: #fff;
$windowNavButtonColor: #aaa;

// window content
$windowContentInputBackground: #2d2d2d;
$windowContentInputColor: #CCC;
$windowContentBorder: #222;
$windowContentTag: #2e2e2e;
$windowContentSeparator: #2C2C2C;
$windowContentTableRowHover: rgba(0, 0, 0, 0.08);
$windowContentItemBackground: rgba(255, 255, 255, 0.04);
$windowContentItemBackgroundHover: rgba(255, 255, 255, 0.06);
$windowContentItemBorder: rgba(255, 255, 255, 0.2);
$windowContentItemShadow: 0 2px 1px 0 rgba(21, 21, 21, 0.1);
$windowContentButtonBackground: #282828;
$windowContentButtonColor: #ccc;
$windowContentButtonActiveBackground: #222;
$windowContentButtonActiveColor: #fff;