// default fonts
$owd-font-title: "Oswald", Tahoma, sans-serif;
$owd-font-mono: "JetBrains Mono", monospace, FreeMono;

// default colors
$owd-primary: #15519c;

// basic
$owd-background: #008282;
$owd-color: #fff;

// menu
$owd-dock-item-square-background: #3483e4;
$owd-dock-item-square-icon: #FFFFFF;
$owd-dock-item-square-border: 0;
$owd-dock-item-square-border-color: none;
$owd-dock-item-square-border-radius: 3px;
$owd-dock-item-title-background: #272727;
$owd-dock-item-title-color: #111;

// system bar
$owd-desktop-system-bar-height: 33px;
$owd-desktop-system-bar-background: #c3c3c3;
$owd-desktop-system-bar-text: black;
$owd-desktop-system-bar-menu-background-hover: #333;
$owd-desktop-system-bar-menu-title-font-family: 'Cantarell';
$owd-desktop-system-bar-menu-title-font-size: 14px;
$owd-desktop-system-bar-menu-title-font-weight: 600;
$owd-desktop-system-bar-menu-title-color: #353535;
$owd-desktop-system-bar-menu-content-background: #353535;
$owd-desktop-system-bar-menu-content-border-color: #1b1b1b;
$owd-desktop-system-bar-menu-content-color: black;

// window
$owd-window-background: #C0C0C0;
$owd-window-text: black;
$owd-window-text-active: $owd-window-text;
$owd-window-border: 2px solid;
$owd-window-border-radius: 0;
$owd-window-border-color: white #393939 #393939 white;
$owd-window-border-color-inactive: white #393939 #393939 white;
$owd-window-box-shadow: none;
$owd-window-box-shadow-inactive: $owd-window-box-shadow;
$owd-window-container-box-shadow: none;

// window nav
$owd-window-nav-height: 24px;
$owd-window-nav-height-dense: 24px;
$owd-window-nav-border: 2px solid;

$owd-window-nav-background: #000181;
$owd-window-nav-background-inactive: #808080;
$owd-window-nav-box-shadow: none;
$owd-window-nav-box-shadow-inactive: none;
$owd-window-nav-border-color: #BDBDBD;
$owd-window-nav-border-color-inactive: #BDBDBD;
$owd-window-nav-color: #fff;
$owd-window-nav-color-inactive: #C9C9C9;

$owd-window-nav-title-padding: 0;
$owd-window-nav-title-font-family: 'Cantarell';
$owd-window-nav-title-font-size: 14px;
$owd-window-nav-title-font-weight: 600;
$owd-window-nav-title-align: center;

// window nav button
$owd-window-nav-button-font-size: 12px;

// window nav buttons
$owd-window-button-width: 16px;
$owd-window-button-height: 16px;
$owd-window-button-padding: 0;
$owd-window-button-font-size: 14px;
$owd-window-button-icon-size: 14px;
$owd-window-button-background: #c3c3c3;
$owd-window-button-background-hover: $owd-window-button-background;
$owd-window-button-background-active: $owd-window-button-background;
$owd-window-button-background-inactive: $owd-window-button-background;
$owd-window-button-box-shadow: 1px 1px 0 0 black, 0px 1px 0 0 black, 1px 0px 0 0 black;
$owd-window-button-box-shadow-hover: $owd-window-button-box-shadow;
$owd-window-button-box-shadow-active: $owd-window-button-box-shadow;
$owd-window-button-box-shadow-inactive: $owd-window-button-box-shadow;
$owd-window-button-border: 1px solid;
$owd-window-button-border-radius: 0;
$owd-window-button-border-color: #ffffff #828282 #828282 #ffffff;
$owd-window-button-border-color-hover: $owd-window-button-border-color;
$owd-window-button-border-color-active: $owd-window-button-background;
$owd-window-button-border-color-inactive: $owd-window-button-border-color;
$owd-window-button-icon-color: #000000;
$owd-window-button-icon-color-hover: $owd-window-button-icon-color;
$owd-window-button-icon-color-active: $owd-window-button-icon-color;
$owd-window-button-icon-color-inactive: $owd-window-button-icon-color;

// window buttons primary
$owd-window-button-primary-background: $owd-primary; // linear-gradient(to bottom, #3483e4, #2379e2);
$owd-window-button-primary-background-hover: lighten($owd-primary, 2%);
$owd-window-button-primary-background-active: #103e75;
$owd-window-button-primary-background-inactive: lighten($owd-primary, 1%);
$owd-window-button-primary-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.05);
$owd-window-button-primary-box-shadow-hover: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
$owd-window-button-primary-box-shadow-active: none;
$owd-window-button-primary-box-shadow-inactive: none;
$owd-window-button-primary-border-color: darken($owd-primary, 12%);
$owd-window-button-primary-border-color-hover: darken($owd-primary, 12%);
$owd-window-button-primary-border-color-active: #0f3b71;
$owd-window-button-primary-border-color-inactive: lighten($owd-primary, 1%);
$owd-window-button-primary-color: #fff;
$owd-window-button-primary-color-hover: $owd-window-button-primary-color;
$owd-window-button-primary-color-active: $owd-window-button-primary-color;
$owd-window-button-primary-color-inactive: $owd-window-button-primary-color;

// window input
$owd-window-input-height: inherit;
$owd-window-input-padding: 0 2px;
$owd-window-input-color: black;
$owd-window-input-color-hover: $owd-window-input-color;
$owd-window-input-color-active: $owd-window-input-color;
$owd-window-input-color-inactive: $owd-window-input-color;
$owd-window-input-background: white;
$owd-window-input-background-hover: $owd-window-input-background;
$owd-window-input-background-active: $owd-window-input-background;
$owd-window-input-background-inactive: $owd-window-input-background;
$owd-window-input-border: 1px solid;
$owd-window-input-border-radius: 0;
$owd-window-input-border-color: #000000 #bfbfbf #bfbfbf #000000;
$owd-window-input-border-color-hover: $owd-window-input-border-color;
$owd-window-input-border-color-active: $owd-window-input-border-color;
$owd-window-input-border-color-inactive: $owd-window-input-border-color;
$owd-window-input-box-shadow: 1px 1px 0 0 #ffffff, 0px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff, -1px -1px 0 0 #828282, 0 -1px 0 0 #828282, -1px 0 0 0 #828282;
$owd-window-input-box-shadow-hover: $owd-window-input-box-shadow;
$owd-window-input-box-shadow-active: $owd-window-input-box-shadow;
$owd-window-input-box-shadow-inactive: $owd-window-input-box-shadow;

// window content
$owd-window-content-border-color: #222;
$owd-window-content-separator: #2C2C2C;
$owd-window-content-tag: #2e2e2e;

$owd-window-table-row-hover: rgba(0, 0, 0, 0.08);

$owd-window-item-background: transparent;
$owd-window-item-background-hover: $owd-window-nav-background;
$owd-window-item-text-color: black;
$owd-window-item-text-color-hover: white;
$owd-window-item-border-color: rgba(255, 255, 255, 0.2);
$owd-window-item-box-shadow: 0 2px 1px 0 rgba(21, 21, 21, 0.1);