// custom styles

html, body {
  background: $bodyBackground;
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(34, 34, 34, 0.3);
}

::-webkit-scrollbar-thumb {
  width: auto;
  height: auto;
  padding: 4px;
  margin: 4px;
  background: rgba(51, 51, 51, 0.3);
}