// custom styles

body {
  background: $bodyBackground;
  color: $bodyColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Tahoma, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  width: auto;
  height: auto;
  padding: 4px;
  margin: 4px;
  background: rgb(255 255 255 / 14%);
}