// global scss variables

$bodyBackground: #161616;

$menuItemSquareBackground: #4987c1;
$menuItemSquareColor: #FFFFFF;
$menuItemTitleBackground: #212121;
$menuItemTitleColor: #EEEEEE;

$fontMenu: "Oswald", Tahoma, sans-serif;
$fontMono: "JetBrains Mono", monospace, FreeMono;