// global scss variables

$bodyBackground: #161616;

$menuItemSquareBackground: #4987c1;
$menuItemSquareColor: #FFFFFF;
$menuItemTitleBackground: #212121;
$menuItemTitleColor: #EEEEEE;

$windowBackground: rgb(17, 17, 17);
$windowTextColor: #b4b4b4;
$windowBorder: #242424;
$windowBorderRadius: 2px;
$windowShadow: 0 0 0 1px rgba(21, 21, 21, 0.5);
$windowNavTitleColor: #fff;
$windowNavButtonColor: #aaa;

$fontMenu: "Oswald", Tahoma, sans-serif;
$fontMono: "JetBrains Mono", monospace, FreeMono;