@import '../../vuetify/VBtn/mixins';

.owd-window {
  &__nav .v-btn {
    min-width: inherit;
    width: $owd-window-button-width;
    height: $owd-window-button-height;
    padding: 0;
    vertical-align: middle;

    &.btn-minimize .v-icon {
      font-size: 10px;
    }

    .v-icon {
      font-size: $owd-window-button-icon-size;
    }
  }
}