// global scss variables
$fontTitle: "Oswald", Tahoma, sans-serif;
$fontMono: "JetBrains Mono", monospace, FreeMono;

$bodyBackground: #161616;
$bodyColor: white;

// menu
$menuItemSquareBackground: #4987c1;
$menuItemSquareColor: #FFFFFF;
$menuItemTitleBackground: #212121;
$menuItemTitleColor: #EEEEEE;

// desktop
$desktopSystemBarHeight: 32px;
$desktopSystemBarBackground: black;
$desktopSystemBarColor: #d2d2d2;
$desktopSystemBarItemHover: #333;

$desktopTitleFontFamily: 'Cantarell';
$desktopTitleFontSize: 14px;
$desktopTitleFontWeight: 600;

// window
$windowBackground: rgb(17, 17, 17);
$windowColor: #888;
$windowColorActive: #FFF;
$windowBorder: #242424;
$windowBorderRadius: 2px;
$windowShadow: 0 0 0 1px rgba(21, 21, 21, 0.5);
$windowNavHeight: 44px;
$windowNavHeightDense: 40px;
$windowNavTitleColor: #fff;
$windowNavButtonColor: #aaa;

// window content
$windowContentInputBackground: #141414;
$windowContentInputColor: #CCC;
$windowContentBorder: #1f1f1f;
$windowContentTag: #2e2e2e;
$windowContentSeparator: #1a1a1a;
$windowContentTableRowHover: rgba(0, 0, 0, 0.2);
$windowContentItemBackground: rgba(255, 255, 255, 0.01);
$windowContentItemBackgroundHover: rgba(255, 255, 255, 0.02);
$windowContentItemBorder: rgba(255, 255, 255, 0.2);
$windowContentItemShadow: 0 2px 1px 0 rgba(21, 21, 21, 0.1);
$windowContentButtonBackground: #282828;
$windowContentButtonDarkerBackground: #222;
$windowContentButtonColor: #ccc;
$windowContentButtonActiveBackground: #222;
$windowContentButtonActiveColor: #fff;