@import '~vuetify/dist/vuetify.min.css';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a, a:link, a:visited {
  text-decoration: none;
}

:focus {
  outline: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 13.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // compatibility with owd-webamp z-index
  .v-layout {
    z-index: inherit;
  }
}

.v-icon.v-icon {
  transition: none;
}