html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a, a:link, a:visited {
  text-decoration: none;
}

:focus {
  outline: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 13.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .v-icon.v-icon {
    transition: none;
  }

  // compatibility with owd-webamp z-index
  .v-layout {
    z-index: inherit;
  }

  // force v-btn opacity on hover
  .v-btn {
    &__overlay {
      opacity: 0;
    }

    &:hover {
      .v-btn__overlay {
        opacity: 0.1;
      }
    }
  }

  // force v-ripple opacity
  .v-ripple__container {
    opacity: 0.2;
  }
}